.section-title p {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
  color: #0c3c53;
}

.section-title h1{
  color: #0c3c53;
  font-size: 40px;
}

/* Contact Us Page Style */
.contact-us {
	margin-top: 140px;
}
.contact-us .contact-form {
	margin-right: 30px;
}
.contact-us .right-content {
	margin-left: 30px;
}
.contact-us .section-heading h2 {
	color: #1e1e1e;
}

.contact-us .section-heading {
	margin-bottom: 39px;
	border-bottom: 3px solid #eee;
	padding-bottom: 0px;
}

.contact-form input,
.contact-form textarea {
	letter-spacing: 0.5px;
	font-weight: 500;
    color: #6a6a6a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 46px;
    outline: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
}
.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}
.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #6a6a6a;
}
.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6a6a6a;
}
.contact-form ::placeholder {
  color: #6a6a6a;
}
.contact-form button {
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	border: none;
	background-color: #31A9E1;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	transition: all 0.5s;
}
.contact-form button:hover {
	background-color: #57C3D0;
}
.contact-us .right-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.contact-us .right-content ul li {
	display: block;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 600;
	color: #1e1e1e;
	letter-spacing: 0.5px;

}
.contact-us .right-content ul li:last-child {
	margin-bottom: 0px;
}


.contact-us .right-content i {

	display: inline;
	text-align: center;
	background-color: #31A9E1;
	border-radius: 50%;
	color: #fff;
  padding: 15px;
	font-size: 24px;
  transform: scaleX(-1);
}

.col-sm-12 table tr td{
  padding-left: 15px;
}

.col-sm-12 table tr:hover,
.col-sm-12 table tr td i:hover{
  background-color: #fff;
  color: #57C3D0;
}

#map {
	margin-top: 140px;
	margin-bottom: -147px;
}



@media (max-width: 991px) {
	.navbar .navbar-brand {
		position: absolute;
		left: 30px;
		top: 10px;
	}
	.functional-buttons {
		position: absolute;
		left: 50%;
		top: 20px;
		transform: translate(-50%);
		margin-left: 15px;
	}
	.about-us .right-content,
	.contact-us .right-content {
		margin-left: 0px;
	}
	.contact-us .contact-form {
		margin-right: 0px;
		margin-bottom: 45px;
	}
	.contact-us .right-content ul {
		margin-bottom: 30px;
	}
	.contact-us .right-content ul li {
		text-align: left;
		width: 100%;
	}
	.contact-us .right-content ul li i {
		margin-left: 0px;
	}
}
